html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #a8dadc;
  overflow-y: hidden;
}

header .number {
  display: flex;
  justify-content: center;
  font-family: 'Alice', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #457b9d;
}

header .header--text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  text-transform: uppercase;
  position: relative;
  font-family: 'Alice', serif;
  color: #f1faee;
}

header .header--text .top-text {
  font-size: 13vw;
}

header .header--text .middle-text {
  font-family: 'Sacramento', cursive;
  font-size: 6vw;
  position: absolute;
  margin-top: 7px;
  color: #457b9d;
  text-transform: capitalize;
  letter-spacing: 2px;
  z-index: 1000;
}

header .header--text .bottom-text {
  margin-top: -5px;
  font-size: 13vw;
}

.about {
  min-height: 50vh;
  background-color: #1d3557;
}

.about .about-text {
  padding: 1em 0.5em 0.5em 0.5em;
  background-color: #f1faee;
}

.about .about-text .about-header h2 {
  text-align: center;
  font-family: 'Alice', serif;
  text-transform: uppercase;
  color: #a8dadc;
}

.about .about-text .about-header h4 {
  color: #457b9d;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 2.3rem;
  margin-top: -18px;
}

.about .about-text .about-body p {
  color: #457b9d;
  text-align: center;
  font-family: 'Alice';
  letter-spacing: 1px;
}

.about .about-text .about-skills {
  padding-top: 2em;
}

@media (min-width: 992px) {
  .about .about-text .about-header h2 {
    font-size: 2.9rem;
  }
  .about .about-text .about-header h4 {
    font-size: 2.5rem;
  }
  .about .about-text .about-body p {
    font-size: 1.5rem;
  }
  .about .about-text .about-skills i {
    font-size: 1.7em;
  }
}

@media (min-width: 1200px) {
  .about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about .about-text .about-header h2 {
    font-size: 3.4rem;
  }
  .about .about-text .about-header h4 {
    font-size: 2.8rem;
  }
  .about .about-text .about-body p {
    font-size: 1.5rem;
  }
  .about .about-text .about-skills {
    padding-top: 3em;
  }
  .about .about-text .about-skills i {
    font-size: 1.5em;
  }
}

.offer {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8dadc;
  padding-top: 2.5em;
}

.offer h2 {
  color: #F1FAEE;
  font-size: 1.7rem;
}

.offer h4 {
  color: #457b9d;
  text-decoration: underline;
}

.offer p {
  color: #1d3557;
}

.portfolio {
  min-height: 50vh;
  display: flex;
}

.portfolio h6 {
  text-decoration: underline;
}

.portfolio .portfolio-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.portfolio .portfolio-title h3 {
  text-transform: capitalize;
  padding: 1em;
  font-size: 1.5rem;
}

.portfolio .portfolio-pages h2 {
  font-family: 'Sacramento';
}

.portfolio .portfolio-pages h5 {
  color: #2b5ea7;
  text-decoration: underline;
}

.portfolio .portfolio-pages a {
  text-decoration: none;
  cursor: pointer;
}

.portfolio .portfolio-pages a p {
  color: #1d3557;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.portfolio .portfolio-pages div {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.portfolio .portfolio-pages div .img {
  width: 20em;
}

.portfolio .portfolio-pages div > p {
  width: 80%;
}

.portfolio .portfolio-pages .card {
  background-color: #f1faee;
  width: 25em;
}

@media (min-width: 768px) {
  .portfolio .portfolio-title h3 {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .portfolio .portfolio-title h3 {
    text-transform: capitalize;
    padding: 0.2em;
    font-size: 1.5rem;
  }
  .portfolio .portfolio-pages h2 {
    font-family: 'Sacramento';
  }
  .portfolio .portfolio-pages h5 {
    color: #2b5ea7;
    text-decoration: underline;
  }
  .portfolio .portfolio-pages a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in all;
    overflow: hidden;
  }
  .portfolio .portfolio-pages a:hover {
    box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
  }
  .portfolio .portfolio-pages a:hover img {
    transform: scale(0.9);
  }
  .portfolio .portfolio-pages a p {
    font-size: 1.1rem;
  }
  .portfolio .portfolio-pages img {
    transition: transform .5s ease;
    overflow: hidden;
  }
  .portfolio .portfolio-pages div {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .portfolio .portfolio-pages div .img {
    width: 20em;
  }
  .portfolio .portfolio-pages div > p {
    width: 90%;
  }
  .portfolio .portfolio-pages .card {
    background-color: #f1faee;
    width: 38em;
  }
}

footer {
  min-height: 30vh;
  background-color: #a8dadc;
  font-family: 'Alice', serif;
  font-size: 1.2rem;
  color: #1d3557;
  text-align: center;
}

footer .fab, footer .fa {
  color: #457b9d;
}

@media (min-width: 768px) {
  footer {
    font-size: 1.4rem;
  }
  footer .fab, footer .fa {
    font-size: 1.4em;
  }
}

h2, h3 {
  font-family: 'Alice', serif;
  text-transform: capitalize;
}

h4 {
  font-family: 'Alice', serif;
  text-transform: capitalize;
}

p {
  font-family: 'Alice', serif;
  letter-spacing: 1px;
}

.light {
  color: #F1FAEE;
}

.dark {
  color: #457B9D;
}

.number-right {
  display: flex;
  font-family: 'Alice', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #457b9d;
}
