html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf");
}

header {
  min-height: 100vh;
  width: 100%;
  background-color: #a8dadc;
  overflow-y: hidden;
}

header .number {
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #457b9d;
}

header .navbar {
  font-family: "Poppins-Regular";
}

header .navbar .navbar-name {
  font-size: 14px;
  color: #457b9d;
}

header .navbar .links {
  display: flex;
}

header .navbar .links a {
  font-family: "Poppins-Medium";
  color: #f1faee;
  font-size: 14px;
  border-radius: 50%;
  background-color: #457b9d;
  padding: 20px;
  transition: all .5s ease-out;
}

header .navbar .links a:hover {
  color: #457b9d;
  background-color: #f1faee;
}

header .header-text {
  min-height: 60vh;
  font-family: "Poppins-Medium";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  text-transform: capitalize;
}

header .header-text .top-text {
  color: #F1FAEE;
}

header .header-text .bottom-text {
  color: #457B9D;
}

@media screen and (min-width: 767px) {
  header .number {
    font-size: 1.1em;
  }
  header .header-text {
    min-height: 50vh;
  }
  header .header-text .top-text {
    font-size: 4.4rem;
  }
  header .header-text .bottom-text {
    font-size: 4.4rem;
  }
}

@media screen and (min-width: 1024px) {
  header .number {
    font-size: 1.2em;
  }
  header .header-text {
    min-height: 50vh;
  }
  header .header-text .top-text {
    font-size: 6.2rem;
  }
  header .header-text .bottom-text {
    font-size: 6.2rem;
  }
}

.scroll-down-bounce {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
}

.scroll-down-bounce-circle {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: #457b9d;
  border-radius: 100px;
  animation-name: circle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
}

.scroll-down-bounce i {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  left: 0;
  right: 0;
  top: 0px;
  font-size: 45px;
  color: #f1faee;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  -webkit-animation-name: arrow;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
}

.scroll-down-bounce-pulse {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  background-color: transparent;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 10px solid red;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 1s linear infinite 0.4s;
  -moz-animation: pulse 1s linear infinite 0.4s;
  border-image: initial;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circle {
  0% {
    height: 100%;
  }
  10% {
    height: 100%;
  }
  50% {
    height: 120%;
  }
  75% {
    height: 140%;
  }
  90% {
    height: 120%;
  }
  100% {
    height: 100%;
  }
}

.about {
  min-height: 50vh;
}

.about .about-headline {
  display: flex;
  justify-content: space-between;
  background-color: #a8dadc;
  margin: 0;
  color: #457B9D;
  font-family: "Poppins-Regular";
}

.about .about-text {
  font-family: "Poppins-Regular";
  background-color: #a8dadc;
}

.about .about-text .about-header {
  line-height: 1.2;
  margin-top: 1.5em;
  font-family: "Poppins-Medium";
}

.about .about-text .about-header span.light {
  color: #F1FAEE;
  font-size: 1.5rem;
}

.about .about-text .about-header span.dark {
  color: #457b9d;
  font-size: 1.8rem;
  padding-left: 1.5em;
}

.about .about-text .about-header .dark, .about .about-text .about-header .light {
  text-transform: capitalize;
}

.about .about-text .about-body {
  padding: 1em;
}

.about .about-text .about-body p {
  color: #1D3557;
  font-family: "Poppins-Regular";
  text-align: end;
}

.about .about-text .about-skills {
  padding-top: 2em;
  padding-bottom: 1.1em;
}

.about .about-text .about-skills .skills i {
  font-size: 1.3rem;
}

.about .about-text .underline {
  text-decoration: underline;
}

@media screen and (min-width: 767px) {
  .about .about {
    min-height: 50vh;
  }
  .about .about .about-text .about-header span.light {
    font-size: 3.5rem;
  }
  .about .about .about-text .about-header span.dark {
    font-size: 1rem;
    padding-left: 5em;
  }
  .about .about .about-text .about-body {
    padding: 1em;
  }
  .about .about .about-text .about-body p {
    color: #1D3557;
    font-family: "Poppins-Regular";
    text-align: center;
  }
  .about .about .about-text .about-skills {
    padding-top: 2em;
    padding-bottom: 1.1em;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    min-height: 40vh;
  }
  .about .about-text .about-header span.light {
    font-size: 3.2rem;
  }
  .about .about-text .about-header span.dark {
    font-size: 3.6rem;
    padding-left: 6em;
  }
  .about .about-text .about-body {
    padding: 1em;
  }
  .about .about-text .about-body p {
    color: #1D3557;
    font-family: "Poppins-Regular";
    text-align: center;
    font-size: 1.2rem;
  }
  .about .about-text .about-skills {
    padding-top: 2em;
    padding-bottom: 1.1em;
  }
}

.offer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d3557;
  padding-top: 2.5em;
}

.offer h2 {
  color: #F1FAEE;
  font-size: 1.7rem;
}

.offer h4 {
  color: #F1FAEE;
  text-decoration: underline;
}

.offer p {
  color: #F1FAEE;
  text-transform: capitalize;
}

.portfolio-headline {
  display: flex;
  justify-content: space-between;
  background-color: #a8dadc;
  padding: 5px;
  color: #457B9D;
  font-family: "Poppins-Regular";
}

.portfolio {
  min-height: 50vh;
  display: flex;
}

.portfolio .portfolio-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.portfolio .portfolio-title h3 {
  text-transform: capitalize;
  padding: 1em;
  font-size: 1.5rem;
}

.portfolio .portfolio-pages h3 {
  font-family: "Poppins-Regular";
}

.portfolio .portfolio-pages h5, .portfolio .portfolio-pages p {
  font-family: "Poppins-Regular";
}

.portfolio .portfolio-pages h5 {
  color: #2b5ea7;
  text-decoration: underline;
}

.portfolio .portfolio-pages a {
  text-decoration: none;
  cursor: pointer;
}

.portfolio .portfolio-pages a p {
  color: #1d3557;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.portfolio .portfolio-pages div {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.portfolio .portfolio-pages div .img {
  width: 20em;
}

.portfolio .portfolio-pages div > p {
  width: 90%;
}

.portfolio .portfolio-pages .card {
  background-color: #F1FAEE;
  width: 22em;
}

@media screen and (min-width: 767px) {
  .portfolio .portfolio-pages a p {
    font-size: 1rem;
    text-align: center;
  }
  .portfolio .portfolio-pages div {
    min-height: 50vh;
  }
  .portfolio .portfolio-pages div > p {
    width: 100%;
  }
  .portfolio .portfolio-pages .card {
    width: 35em;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio .portfolio-title {
    text-align: center;
  }
  .portfolio .portfolio-title h3 {
    text-transform: capitalize;
    padding: 0.2em;
    font-size: 1.5rem;
  }
  .portfolio .portfolio-pages h5 {
    color: #2b5ea7;
    text-decoration: underline;
  }
  .portfolio .portfolio-pages a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in all;
    overflow: hidden;
  }
  .portfolio .portfolio-pages a:hover {
    box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 23px -10px rgba(0, 0, 0, 0.75);
  }
  .portfolio .portfolio-pages a:hover img {
    transform: scale(0.9);
  }
  .portfolio .portfolio-pages a p {
    font-size: 1.1rem;
  }
  .portfolio .portfolio-pages img {
    transition: transform .5s ease;
    overflow: hidden;
  }
  .portfolio .portfolio-pages div {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  .portfolio .portfolio-pages div .img {
    width: 20em;
  }
  .portfolio .portfolio-pages div > p {
    width: 90%;
  }
  .portfolio .portfolio-pages .card {
    background-color: #f1faee;
    width: 28em;
  }
}

footer {
  min-height: 30vh;
  margin-top: 4em;
}

footer .footer-header {
  color: #17A2B8;
  font-family: "Poppins-Medium";
  text-transform: capitalize;
}

footer .footer-body {
  color: #17A2B8;
  font-family: "Poppins-Regular";
  text-transform: capitalize;
}

footer .footer-body p {
  padding-left: 5em;
}

footer .email {
  font-family: "Poppins-Medium";
}

footer .email a {
  color: #17A2B8;
}

footer .title-line {
  text-align: center;
  margin-top: -10px;
}

footer .title-line .tl-1 {
  width: 90px;
  height: 1px;
  display: inline-block;
  background: #707070;
}

footer .title-line .tl-2 {
  display: inline-block;
  height: 12px;
  margin: 0 5px;
  position: relative;
  width: 12px;
  border: 1px solid #1D3557;
  background-color: #1D3557;
  border-radius: 50px;
  top: 5px;
}

footer .title-line .tl-3 {
  width: 90px;
  height: 1px;
  display: inline-block;
  background: #707070;
}

footer .social-icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

footer .social-icons a {
  color: #17A2B8;
}

footer .copyright h6 {
  color: #17A2B8;
  font-size: 0.7rem;
}

@media screen and (min-width: 767px) {
  footer .footer-header h1 {
    font-size: 3.7rem;
  }
  footer .footer-body {
    color: #17A2B8;
    font-family: "Poppins-Regular";
    text-transform: capitalize;
  }
  footer .footer-body p {
    padding-left: 5em;
    font-size: 1.2rem;
  }
  footer .email {
    font-family: "Poppins-Medium";
  }
  footer .email a {
    color: #17A2B8;
    font-size: 2rem;
  }
  footer .title-line {
    text-align: center;
    margin-top: -10px;
  }
  footer .title-line .tl-1 {
    width: 90px;
    height: 1px;
    display: inline-block;
    background: #707070;
  }
  footer .title-line .tl-2 {
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    position: relative;
    width: 12px;
    border: 1px solid #1D3557;
    background-color: #1D3557;
    border-radius: 50px;
    top: 5px;
  }
  footer .title-line .tl-3 {
    width: 90px;
    height: 1px;
    display: inline-block;
    background: #707070;
  }
  footer .social-icons {
    font-size: 1.8rem;
    color: #17A2B8;
    display: flex;
    justify-content: space-around;
    margin: 1em;
  }
}

h2, h3, h4 {
  text-transform: capitalize;
}

p {
  letter-spacing: 1px;
}

.light {
  color: #F1FAEE;
}

.dark {
  color: #457B9D;
}

.number-right {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  color: #457b9d;
}
