.about{
    min-height: 100%;
    background-color: #1d3557;
    
    
    .about-text{
        padding: 1em 0.5em 0.5em 0.5em;
        background-color: #f1faee;

        .about-header{
            .h2{
                text-align: center;
                font-family: 'Alice', serif;
                text-transform: uppercase;
                color: #a8dadc;
            }
    
            .h4{
                color: #457b9d;
                text-align: center;
                font-family: 'Sacramento', cursive;
                font-size: 2.3rem;
                margin-top: -18px;
            }
        }
        

        .about-body p {
            color: #457b9d;
            text-align: center;
            font-family: 'Alice';
            letter-spacing: 1px;
        }

        .about-skills{
            padding-top: 2em;
        }
    }
}

@media (min-width:992px) {
    .about{   
        
        .about-text{
           
    
            .about-header{
                .h2{
                    font-size: 2.9rem;
                }
        
                .h4{
                   font-size: 2.5rem;
                }
            }
            
    
             .about-body p {
                font-size: 1.5rem;
             }
    
            .about-skills{

                i{
                    font-size: 1.7em;
                }
            }
        }
    }

}

@media (min-width:1200px) {
    .about{   
        
        .about-text{
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
    
            .about-header{
                .h2{
                    font-size: 3.4rem;
                }
        
                .h4{
                   font-size: 2.8rem;
                }
            }
            
    
             .about-body p {
                font-size: 1.5rem;
             }
    
            .about-skills{
                padding-top: 3em;
                i{
                    font-size: 1.5em;
                }
            }
        }
    }

}
