.about{
    min-height: 50vh;

    .about-headline{
        display: flex;
        justify-content: space-between;
        background-color: #a8dadc;
        margin: 0;
        color: #457B9D;
        font-family: $font-regular;
      }
      
    
    .about-text{
        font-family: $font-regular;
        background-color: #a8dadc;

        .about-header{
            line-height: 1.2;
            margin-top: 1.5em;
            font-family: $font-medium;
            span.light{
                color: #F1FAEE;
                font-size: 1.5rem;
            }
    
            span.dark{
                color: #457b9d;
                font-size: 1.8rem;
                padding-left: 1.5em;
            }

            .dark, .light{
                text-transform: capitalize;
            }
        }
        

        .about-body{
            padding: 1em;
            p{
                color: #1D3557;
                font-family: $font-regular;
                // letter-spacing: 1px;
                text-align: end;
            }
        }

        .about-skills{
            padding-top: 2em;
            padding-bottom: 1.1em;

            .skills{
                i {
                    font-size: 1.3rem;
            }
        }
    }

    .underline{
        text-decoration: underline;
    }
}

@include media-md {
        .about{
            min-height: 50vh;
            
            .about-text{
            
                .about-header{
                    
                    span.light{ 
                        font-size: 3.5rem;
                    }
            
                    span.dark{
                        font-size: 1rem;
                        padding-left: 5em;
                    }
                }
                
                .about-body{
                    padding: 1em;
                    p{
                        color: #1D3557;
                        font-family: $font-regular;
                        text-align: center;
                    }
                }
        
                .about-skills{
                    padding-top: 2em;
                    padding-bottom: 1.1em;

                    
                }
            }
        }
            

    }
}

@include media-lg {
    .about{
        min-height: 40vh;
        
        .about-text{
        
            .about-header{
                
                span.light{ 
                    font-size: 3.2rem;
                }
        
                span.dark{
                    font-size: 3.6rem;
                    padding-left: 6em;
                }
            }
            
            .about-body{
                padding: 1em;
                p{
                    color: #1D3557;
                    font-family: $font-regular;
                    text-align: center;
                    font-size: 1.2rem;
                    
                }
            }
    
            .about-skills{
                padding-top: 2em;
                padding-bottom: 1.1em;

            }
        }
    }



}
