.about{
    min-height: 50vh;
    background-color: #f1faee;
    
    
    .about-text{
        padding: 1em 0.5em 0.5em 0.5em;

        .about-header{
            h2{
                text-align: center;
                font-family: 'Alice', serif;
                text-transform: uppercase;
                color: #a8dadc;
            }
    
            h4{
                color: #457b9d;
                text-align: center;
                font-family: 'Sacramento', cursive;
                font-size: 2.3rem;
                margin-top: -18px;
            }
        }
    
        .about-body p {
            color: #457b9d;
            text-align: center;
            font-family: 'Alice';
            letter-spacing: 1px;
        }

        .about-skills{
            padding-top: 2em;
        }
    }
}
