@font-face{
    font-family: 'Alice', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(../fonts/Alice-Regular.ttf);
}

@font-face{
    font-family: 'Sacremento', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(../fonts/Sacramento-Regular.ttf);
}

$p-font: 'Alice';
$s-font: 'Sacremento';


