footer{
  min-height: 30vh;
  background-color: #a8dadc;
  font-family: 'Alice', serif;
  font-size: 1.2rem;
  color: #1d3557;
  text-align: center;

  .fab, .fa{
    color: #457b9d;
    text-decoration: none;

  }

  

}

@media (min-width:768px) {
  footer{
    font-size: 1.4rem;

    .fab, .fa{
      font-size: 1.4em;
    }
  }
}
  
