.offer{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8dadc;
    padding-top: 2.5em;

    h2{
        color: #F1FAEE;
        font-size: 1.7rem;
    }

    h4{
        color: #457b9d;
        text-decoration: underline;
    }

    p{
        color: #1d3557;
        text-transform: capitalize;
    }

}
