
.portfolio{
  min-height:50vh;
  display: flex;

  h3{
    text-decoration: underline;
  }
 

  .portfolio-title{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;

    

    h3{
      text-transform: capitalize;
      padding: 1em;
      font-size: 1.5rem;
    }
  }

  .portfolio-pages{

    h2{
      font-family: 'Sacramento';
    }

    & h5{
      color:#2b5ea7;
      text-decoration: underline;

    }

    & a{
      text-decoration: none;
      cursor: pointer;

       p {
         color:#1d3557;
         letter-spacing: 1px;
         text-transform: capitalize;
      }
    }
    
    & div{
      
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;

      .img{
        width: 20em;
      }

      & > p{
        width: 80%;
      }

    }

    & .card {
      background-color: #f1faee;
    }
  }
}