h2,h3,h4,.h2,.h3,.h4{
    font-family: 'Alice', serif;
    text-transform: capitalize;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    display: block;
}

p{
    font-family: 'Alice', serif;
    letter-spacing: 1px;
}

.light{
    color: #F1FAEE;
}

.dark{
    color: #457B9D;
}

.number-right {
    display: flex;
    font-family: 'Alice', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #457b9d;
}