h2,h3,h4{
    text-transform: capitalize;
}

p{
    letter-spacing: 1px;
}

.light{
    color: #F1FAEE;
}

.dark{
    color: #457B9D;
}

.number-right {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: #457b9d;
}