h2,h3{
    font-family: 'Alice', serif;
    text-transform: capitalize;
}

h4{
    font-family: 'Alice', serif;
}

p{
    font-family: 'Alice', serif;
    letter-spacing: 1px;
}

.light{
    color: #F1FAEE;
}

.dark{
    color: #457B9D;
}