html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'header';
@import 'about';
@import 'offer';
@import 'portfolio';
@import 'footer';
@import 'text';


@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';