html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: 'Sacramento', cursive;
  src: url(/fonts/Sacramento-Regular.ttf)
}

@import 'header';
@import 'about';
@import 'portfolio';
@import 'footer';